.app {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;

  align-items: center;
}

.app__title_container {
  display: flex;
  flex-direction: row;
  padding: 10px;

  align-items: center;
}

.app__title {
  margin: 0px 20px 0px 20px;
  padding: 0px;

  font-size: 20pt;
  font-weight: bold;
}

.app__from {
  font-size: 11pt;
  text-decoration: none;

  color: #1A1A1A;
}

.app__home_link {
  margin: 0px 0px 0px 50px;

  font-size: 11pt;
  text-decoration: none;

  color: #1A1A1A;
}